{:paths ["src"]
 :deps {org.clojure/clojure  {:mvn/version "1.10.1"}
        cheshire/cheshire {:mvn/version "5.10.0"}}

 :aliases
 {:dev
  {:extra-paths ["test" "slides"]
   :extra-deps {org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                org.clojure/core.rrb-vector   {:mvn/version "0.0.13"}
                cider/cider-nrepl             {:mvn/version "0.25.3"}
                nrepl/nrepl                   {:mvn/version "0.8.2"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}

                healthsamurai/matcho           {:mvn/version "0.3.7"}
                honeysql/honeysql              {:mvn/version "1.0.461"}

                org.clojure/java.jdbc          {:mvn/version "0.7.12"}
                org.postgresql/postgresql      {:mvn/version "42.2.19.jre7"}


                http-kit/http-kit   {:mvn/version "2.5.3"}
                ring/ring-core      {:mvn/version "1.9.1"}
                ring/ring-defaults  {:mvn/version "0.3.2"}
                route-map/route-map {:mvn/version "0.0.7"}
                }

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.0-612"}}
   :extra-paths ["runner" "test" "test-resources"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}}


 :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                  :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
          :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
          :main-opts ["-m" "test-runner"]}

 }
