{:paths ["src"]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}}

 :aliases
 {:dev
  {:extra-paths ["test" "slides"]
   :extra-deps {org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                org.clojure/core.rrb-vector   {:mvn/version "0.1.2"}
                cider/cider-nrepl             {:mvn/version "0.28.7"}
                nrepl/nrepl                   {:mvn/version "1.0.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}

                healthsamurai/matcho           {:mvn/version "0.3.9"}
                honeysql/honeysql              {:mvn/version "1.0.461"}}

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.71.1119"}}
   :extra-paths ["runner" "test" "test-resources"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}}}
