{:paths ["src"]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        metosin/jsonista     {:mvn/version "0.3.8"}}

 :aliases
 {:dev
  {:extra-paths ["test" "slides"]
   :extra-deps {org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
                org.clojure/core.rrb-vector   {:mvn/version "0.1.2"}
                cider/cider-nrepl             {:mvn/version "0.28.7"}
                nrepl/nrepl                   {:mvn/version "1.0.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}

                honeysql/honeysql             {:mvn/version "1.0.461"}
                lambdaisland/kaocha           {:mvn/version "1.72.1136"}}

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-e" "(set! *warn-on-reflection* true)"]}


  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.72.1136"}}
   :extra-paths ["runner" "test" "test-resources"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}}}
